<% include header%>
<br>
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-6 col-md-push-5 z-depth-4">
            <h2 class="featurette-heading">Mohammad Hussain
                <small><span class="text-muted">Comp. Sci. Engg. </span></small>
            </h2>
            <p class="lead "> <div class="well well-lg"><p>
                I am <b>3rd</b> year stutdent of <b><em>Computer Scienct in B.B.D  N.I.I.T </em></b>.</p><p>
                I am pursuing  <b><i>B.Tech Degree</i></b> .</p><p>
                I have a little knowledge about the website i.e
                    fronetend like angular, materializecss, bootstrap etc and some framework
                and In backend like nodejs , express etc.</p><p>
                This is my gaming websites which I made for publicly .</p><p>
                Its very fun for making websites that wil attract Users . </p>
        </div>
    </div>
    <div class="col-md-5 col-md-pull-5">
        <img class="materialboxed featurette-image img-responsive center-block" src="../img/hicc.jpg"
             alt="developer pic" style="height: 400px ;width: 300px;;">
    </div>

<hr>
</div>
</div>
<% include footer%>
