<% include header %>

<br><br>

<div class="container">
    <ul class="collapsible popout " data-collapsible="accordion">
        <li>
            <div class="collapsible-header active"><i class="material-icons text-danger">filter_drama</i>First Blog</div>
            <div class="collapsible-body">
                <p><b><i>ARE WE ASSUMING WEB PROGRAMMING</i></i></b><br><br>
                    Is Markup Code? Lots of people said "learn HTML and CSS," but I don't think that's coding in
                    the classical sense. As a gateway to JavaScript and Web Services, I think it's a good place
                    to start.<br>
                    The thing is, though, that while not every app is a web application that makes HTML
                    in a browser, most applications are connected applications in some way.<br>
                    Apps consume data from services, send notifications, texts, emails and tweets. Nearly every
                    application is distributed in some way, even if it's just a simple app that calls a web server for some data.
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons text-success">filter_list</i>Second Blog</div>
            <div class="collapsible-body">
                <p><b><i>WHAT DO WE REALLY MEAN BY "I WANT TO LEARN TO CODE?"</i></b><br><br>
                    These are all very different endpoints and there's lots of great ways to get started if we dig in a
                    little.

                    <b>Interested in Web Development?</b>&ensp;&ensp;:&ensp;
                        Any of the many "Learn to Code" sites mentioned above will do fine.
                        <br>
                    <b>Interested in Hardware?</b>&ensp;&ensp;:&ensp;
                        Consider a Raspberry Pi or Arduino.
                        <br>
                    <b>Interested in the code and history under the code you use every day?</b>&ensp;&ensp;:&ensp;
                        Read "Code" by Charles Petzold.
                        <br>
                    <b>Already a techie but want to learn the hard way?</b>&ensp;&ensp;:&ensp;
                        Check out http://learncodethehardway.org
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons text-info">whatshot</i>Third Blog</div>
            <div class="collapsible-body">
                <p>Comming soon for third blog</p>
            </div>
        </li>
    </ul>
</div>


<% include footer %>