<!--   Footer
========================================================== -->

<footer class="bs-docs-footer teal lighten-0" role=contentinfo>
    <div class="container">
        <ul class=bs-docs-footer-links>
            <li><a href=https://github.com/Md-Hiccup>
                    <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                    <!--<img src="./../img/github-4096.png" style="height: 35pt;width: 35pt;">-->
                </a>
            </li>
            <li><a href=https://facebook.com/md.hussain.9231/about>
                    <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                    <!--<img src="./../img/facebook.png" style="height:45pt;width: 40pt;">-->
                </a>
            </li>
            <li><a href=https://plus.google.com/112239157622742526537>
                    <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
                    <!--<img src="./../img/facebook.png" style="height:45pt;width: 40pt;">-->
                </a>
            </li><!-- <li><a href="../html/about.html">About</a></li> -->

        <p class="pull-right"><a href="#" class="btn-floating btn-sm green"><i class="material-icons right">navigation</i></a></p>
        </ul>
     <!--   <p>&copy; 2016 Hiccup's life Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>  -->

        <p>Designed and built with all the love in the world by <b class="white-text">@Dastan .</b>
            Maintained by the <b class="white-text">core team</b> with the help of <b class="white-text">our contributors.</b>
        </p>

      <!--  <p>Code licensed <a rel=license href="https://github.com/Md-Hiccup" target=_blank></a>, docs
            <a rel=license href=https://creativecommons.org/licenses/by/3.0/ target=_blank>CC BY 3.0</a>.</p></div>     -->
            <p><b class="white-text"> © 2016-17 Copyright</b>


    </div>

</footer>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(document).ready(function() {
        $('.carousel').carousel({
            padding: 100
        });
        autoplay()
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 5000);
        }
    });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery-1.12.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/init.js"></script>
<script src="../js/register.js"></script>
<
</body>
</html>