<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiccup's Life</title>

    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/gsdk.css" rel="stylesheet" />
    <link href="../css/demo.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="../js/jquery-1.12.1.min.js"></script>
    <style>
        #brand-logo {
            height: 30px;
            width: 70px;
        }
        .html {
            font-family: GillSans, Calibri, Trebuchet, sans-serif;
        }
        .head {
            color: white;
            font-size: 40pt;
            font-style: oblique;
            font-family: "Californian FB";
        }

        .bs-docs-footer {
            padding-top: 20px;
            padding-bottom: 10px;
            margin-top: 100px;
            color: black;
            text-align: center;
        }

        .bs-docs-footer-links {
            padding-left: 0;
            margin-bottom: 20px
        }

        .bs-docs-footer a {
            color: #fff
        }

        .bs-docs-footer-links li {
            display: inline-block
        }

        .bs-docs-footer-links li + li {
            margin-left: 30px
        }
    </style>

</head>
<body>
<!--<div class="container">-->

<nav class="navbar teal lighten-2 navbar-fixed-top " sstyle="box-shadow: 0 0 0 0 #fff">
    <div class="nav-wrapper container-fluid">
        <a href="/" class="brand-logo">LOGO</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons prefix">home</i></a></li>
            <li><a href="blog">BLOG</a></li>
            <li><a href="about">ABOUT US</a></li>
            <li><a href="/auth/signup" class="orange darken-1 waves-effect waves-light btn">SIGNUP</a></li>
            <li><a href="/auth/login" class="green waves-effect waves-light btn darken-5">LOGIN</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/"><i class="material-icons prefix">home</i></a></li>
            <li><a href="blog">BLOG</a></li>
            <li><a href="about">ABOUT US</a></li>
            <li><a href="signup" class="orange darken-1 waves-effect waves-light btn">SIGNUP</a></li>
            <li><a href="login" class="green waves-effect waves-light btn darken-5">LOGIN</a></li>
        </ul>
    </div>
</nav>
        <br>
