<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiccup's Life</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/gsdk.css" rel="stylesheet" />
    <link href="../css/demo.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="../js/jquery-1.12.1.min.js"></script>
    <style>
        #brand-logo {
            height: 30px;
            width: 70px;
        }
        .html {
            font-family: GillSans, Calibri, Trebuchet, sans-serif;
        }
        .head {
            color: white;
            font-size: 40pt;
            font-style: oblique;
            font-family: "Californian FB";
        }

        .bs-docs-footer {
            padding-top: 20px;
            padding-bottom: 10px;
            margin-top: 100px;
            color: black;
            text-align: center;
        }

        .bs-docs-footer-links {
            padding-left: 0;
            margin-bottom: 20px
        }

        .bs-docs-footer a {
            color: #fff
        }

        .bs-docs-footer-links li {
            display: inline-block
        }

        .bs-docs-footer-links li + li {
            margin-left: 30px
        }
    </style>

</head>
<body>

<!--<div class="container">-->

<nav class="navbar teal lighten-2 navbar-fixed-top " sstyle="box-shadow: 0 0 0 0 #fff">
    <div class="nav-wrapper container-fluid">
        <a href="/" class="brand-logo">LOGO</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons prefix">home</i></a></li>
            <li><a href="blog">BLOG</a></li>
            <li><a href="about">ABOUT US</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/"><i class="material-icons prefix">home</i></a></li>
            <li><a href="blog">BLOG</a></li>
            <li><a href="about">ABOUT US</a></li>
        </ul>
    </div>
</nav>
<!--   Navigation bar
==================================================================- ->
<nav class="navbar navbar-inverse " role="navigation">
    <div class="container">

        <!-- Brand and toggle get ground for better mobile display  - ->
        <div class="navbar-header">
            <a class="navbar-brand" href="#home" data-toggle="tooltip" data-placement="bottom"
               title="Hiccup's Life">
                <img id="brand-logo" alt="website-logo" src="../img/hiccup.jpg">
            </a>

        </div>

        <!-- Collect the nav links , forms, and other content for toggling - ->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right ">
                <li role="presentation" class="active" data-toggle="tooltip" data-placement="bottom" title="Home">
                    <a href="../html/index.html"><h4>Home</h4>
                        <span class="sr-only"></span> </a>
                </li>

                <li role="presentation" data-toggle="tooltip" data-placement="bottom"
                    title="Blog"><a href="../html/blog.html"><h4>Blog</h4></a></li>
                <li role="presentation" data-toggle="tooltip" data-placement="bottom"
                    title="About Us"><a href="../html/about.html"><h4>About Us</h4></a></li>

                <li class="dropdown" role="presentation">
                    <a href="#games" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                       title="Games" role="button"
                       aria-expanded="false"><h4>Games
                            <span class="caret"></span></h4></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="list-group-item"><a href="../html/tictactoe.html">Tictactoe Single</a></li>
                        <li class="list-group-item"><a href="../html/tictactoe_double.html">Tictactoe Double</a></li>
                        <li class="list-group-item"><a href="../html/imarble.html">Imarbe Game</a></li>
                    </ul>
                </li>

                <!-- Navigation form - ->
                <li role="presentation" data-toggle="tooltip" data-placement="bottom"
                    title="Login"><a href="./home">
                    <button type="submit" class="btn  btn-danger" id ="loginhide">Login / Register</button></a></li>
                <li role="presentation" data-toggle="tooltip" data-placement="bottom"
                    title="About Us" id="logouthide"><a href="#"></a></li>
               <!-- <li role="presentation" data-toggle="tooltip" data-placement="bottom"
                    title="Singup"><a href="./register">
                    <button type="submit" class="btn  btn-danger">Signup</button></a></li>
                <!- - <form class="navbar-btn " >
                    <!- - <div class="form-group">
                         <input type="text" class="form-control" placeholder="search"/>
                     </div>
                    </form>  - ->
            </ul>
        </div>    <!-- navbar collapse end - ->
    </div>        <!-- container end - ->
</nav>
-->
<br><br><br>
