<% if( headMain == '1' ){ %>
    <%  include header%>
<% } else { %>
    <% include headerlogout %>
<% } %>
<br><br>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text text-darken-2">GAME-NODE </h1>
                <div class="row center">
                    <h5 class="header col s12 light white-text text-darken-3">Being Smart & Being Gamer ..</h5>
                </div>
                <div class="row center">
                    <a href="#games" id="download-button"
                        class="waves-effect waves-light green btn-large lighten-1">Give a Try</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="./img/game.jpg" alt="Unsplashed background img 1"></div>
    </div>

<!-- START THE FEATURETTES
 ====================================================================== -->
<!--<hr class="featurette-divider">-->
<div class="container section" id="games">
    <div class="row center">
        <div class="col s12 m3 z-depth-2">
            <div class="card hoverable sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/imarble1.jpg">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">I-Marble
                    <i class="material-icons teal-text right">more_vert</i></span>
                    <h5><small>Take Challenge</small></h5>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">I-Marble<i class="material-icons right">close</i></span>
                    <hr><p>IMarble game is the famous game . It looks very simple game but it is very complicated .
                        Only You just have to done is eliminating all the marble and at last only one marble is left .</p>
                </div>
                <div class="card-action">
                    <a href="imarble" class="red waves-effect waves-light btn-round btn">play now</a>
                </div>
            </div>
        </div>

        <div class="col s12 m3 push-m1 z-depth-2">
            <div class="card hoverable sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/tic.png">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Tic-Tac-Toe
                    <i class="material-icons teal-text right">more_vert</i></span>
                    <h5><small>For Single Player</small></h5>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Tic-Tac-Toe<i class="material-icons right">close</i></span>
                    <hr><p>Tic Tac Toe game or Cross Zeros , is the famous children addictive game as well as elder
                        also played this game.
                        This game is for <b class="teal-text"><em>Single Player</em></b>. </p>
                </div>
                <div class="card-action">
                    <a href="tictactoe1" class="red waves-effect waves-light btn-round btn">play now</a>
                </div>
            </div>
        </div>

        <div class="col s12 m3 push-m2 z-depth-2">
            <div class="card hoverable sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/tictac.jpg">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Tic-Tac-Toe
                    <i class="material-icons teal-text right">more_vert</i></span>
                    <h5><small>For Double Player</small></h5>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Tic-Tac-Toe<i class="material-icons right">close</i></span>
                    <hr><p>Tic Tac Toe game is same as like Cross And Zeros. I know everyone had played this game
                        in their school life even though Someone also play this game for time pass . It is very simple and easy game
                        for<b class="teal-text">
                            <em>two player .</em></b></p>
                </div>
                <div class="card-action">
                    <a href="tictactoe2" class="red waves-effect waves-light btn-round btn">play now</a>
                </div>
            </div>
        </div>

    </div>
</div>

    <div id="index-banner" class="parallax-container valign-wrapper" style="height:auto">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A Long Life of Fun ..</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="./img/game1.jpg" alt="Unsplashed background img 1"></div>
    </div>

<!-- START THE FEATURETTES
 ====================================================================== -->
<!--<hr class="featurette-divider">-->
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center text-success"><i class="material-icons">book</i></h2>
                    <h5 class="center">Speeds up development</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center text-success"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
                </div>
            </div>
        </div>

    </div>

</div>



    <!--   Pager
    ========================================================== - ->


    <nav>
        <ul class="pager">
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span>Previous</a></li>
            <li class="next"><a href="../html/blog.html">Next<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <!--  Pagingation
    ============================================================ - ->
    <nav class="text-center">

        <ul class="pagination">
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="index.html">1</a></li>
            <li class="waves-effect"><a href="../html/blog.html">2</a></li>
            <li class="waves-effect"><a href="../html/about.html">3</a></li>
            <li class="waves-effect"><a href="../html/blog.html"><span class="sr-only">Next</span><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
-->
<% include footer %>
