<% if( headMain == '0' ){ %>
<%  include headerlogin%>
<% } else { %>
<% include header %>
<% } %>
<br>
<div class="container-fluid">
    <div class="col-md-5 col-md-offset-3">
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="card">
            <div class="row">
                <div class = "blue-grey-text">
                    <h5 class="control-label center"><b>Login Form<hr></b></h5>
                </div>
            <form class="col s12" action="/login" method="post">
                <div class="row form-group">
                    <div class="input-field col s12 blue-grey-text">
                        <i class="material-icons prefix">email</i>&ensp;
                        <input id="emailLogin" type="email" name="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="input-field col s12 blue-grey-text">
                        <i class="material-icons prefix">lock</i>&ensp;
                        <input id="passwordLogin" type="password" name="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center">
                   <!-- <a id="login" class="blue-grey waves-effect waves-light white-text btn-round btn-lg" >LOGIN</a>-->
                    <button type="submit" id='login'  class="blue-grey waves-effect waves-light white-text btn-round btn-lg">Login</button>
                </div>
            </form>
                <hr>
                <div class = "row center">
                    <a href="google" class="red waves-effect waves-light white-text btn-group-justified btn-lg">Google</a>
                    <p>Need an account? <a href="signup">Signup</a></p>
                    <p>Or go <a href="/">Home</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%include footer%>